:host {
    padding: 0;
}

.bind-tree {
    margin-top: 3px;
}

.data-binding-panel-base {
    padding: 0;
}

.data-binding-panel-base .tree-outline li {
    display: block;
    overflow: hidden;
    overflow-wrap: anywhere;
    white-space: normal;
}

.data-binding-panel-base .tree-outline li.expressions-info {
    display: flex;
}

.toolbar {
    border-bottom: 1px solid var(--color-details-hairline);
    flex-shrink: 0;
    overflow: hidden;
    position: sticky;
    top: 0;
    background-color: var(--color-background-elevation-1);
    z-index: 2;
    padding: 0;
}

.gray-info-message {
    display: inline;
    white-space: normal;
}